.locationCont{
  width: 100%;
  height: 35px;
  text-align: left;
  color: #808;
  line-height: 35px;
}
.locationCont h1{
  margin: 0;
}
.weatherLocationCont{
  width: auto;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 48px 12px rgba(0, 0, 0, 75);

}
